@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import 'resets.css';
.cards {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #3a3a3a;
}
.cards .birthday-card {
  width: 100%;
  background-color: rgba(0, 188, 212, 0.2);
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin-bottom: 15px;
}
.cards .birthday-card:nth-child(2n) {
  background-color: rgba(0, 151, 167, 0.2);
}
.cards .birthday-card:nth-child(3n) {
  background-color: rgba(128, 222, 234, 0.2);
}
.cards .birthday-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.cards .birthday-card__photo {
  height: 100px;
  width: 100px;
  min-width: 100px;
  border-radius: 50%;
  border: solid 4px #80DEEA;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.cards .birthday-card__user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.cards .birthday-card__user-info .user-info__name,
.cards .birthday-card__user-info .user-info__birthdate,
.cards .birthday-card__user-info .user-info__phone,
.cards .birthday-card__user-info .user-info__email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cards .birthday-card__user-info .user-info__name .icon,
.cards .birthday-card__user-info .user-info__birthdate .icon,
.cards .birthday-card__user-info .user-info__phone .icon,
.cards .birthday-card__user-info .user-info__email .icon {
  display: block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.cards .birthday-card__user-info .user-info__name {
  margin-bottom: 5px;
}
.cards .birthday-card__user-info .user-info__name--icon {
  background-image: url('../images/icon-person.svg');
}
.cards .birthday-card__user-info .user-info__birthdate {
  margin-bottom: 10px;
}
.cards .birthday-card__user-info .user-info__birthdate--icon {
  background-image: url('../images/icon-birthday.svg');
}
.cards .birthday-card__user-info .user-info__phone {
  margin-bottom: 10px;
}
.cards .birthday-card__user-info .user-info__phone--icon {
  background-image: url('../images/icon-phone.svg');
}
.cards .birthday-card__user-info .user-info__email {
  font-size: 12px;
  word-break: break-all;
}
.cards .birthday-card__user-info .user-info__email--icon {
  background-image: url('../images/icon-email.svg');
}
.cards .birthday-card__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
.cards .birthday-card__button {
  position: relative;
  height: 50px;
  width: 50px;
  text-transform: uppercase;
  font-weight: 700;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: solid 2px #00BCD4;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms;
  cursor: pointer;
}
.cards .birthday-card__button .button__content {
  position: absolute;
  color: #0097A7;
  transition: color 250ms;
}
.cards .birthday-card__button--remove {
  background-color: rgba(213, 0, 0, 0.5);
  background-image: url('../images/icon-remove.svg');
  margin-right: 70px;
}
.cards .birthday-card__button--remove:active {
  background-color: rgba(213, 0, 0, 0.8);
  transition: background-color 250ms;
}
.cards .birthday-card__button--remove:active .button__content {
  color: #00525b;
  transition: color 250ms;
}
.cards .birthday-card__button--remove .button__content {
  left: 55px;
  top: 0px;
}
.cards .birthday-card__button--edit {
  background-color: rgba(0, 230, 118, 0.5);
  background-image: url('../images/icon-edit.svg');
  margin-left: 70px;
}
.cards .birthday-card__button--edit:active {
  background-color: #00cd69;
  transition: background-color 250ms;
}
.cards .birthday-card__button--edit:active .button__content {
  color: #00525b;
  transition: color 250ms;
}
.cards .birthday-card__button--edit .button__content {
  right: 55px;
  bottom: 0px;
}
.cards .birthday-card__button:focus-within {
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 96, 100, 0.7);
  transition: box-shadow 500ms;
}
@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .cards .birthday-card {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  .cards .birthday-card:nth-child(2n) {
    margin-right: 0;
    margin-left: 10px;
  }
  .cards .birthday-card__controls {
    border-top: solid 3px rgba(0, 151, 167, 0.2);
    padding-top: 15px;
  }
}
@media (min-width: 992px) {
  .cards .birthday-card__button--remove:hover {
    background-color: rgba(213, 0, 0, 0.65);
    transition: background-color 250ms;
  }
  .cards .birthday-card__button--remove:hover .button__content {
    color: #00808e;
    transition: color 250ms;
  }
  .cards .birthday-card__button--remove:active {
    background-color: rgba(213, 0, 0, 0.8);
    transition: background-color 250ms;
  }
  .cards .birthday-card__button--remove:active .button__content {
    color: #00525b;
    transition: color 250ms;
  }
  .cards .birthday-card__button--edit:hover {
    background-color: rgba(0, 230, 118, 0.8);
    transition: background-color 250ms;
  }
  .cards .birthday-card__button--edit:hover .button__content {
    color: #00808e;
    transition: color 250ms;
  }
  .cards .birthday-card__button--edit:active {
    background-color: #00cd69;
    transition: background-color 250ms;
  }
  .cards .birthday-card__button--edit:active .button__content {
    color: #00525b;
    transition: color 250ms;
  }
}
@media (min-width: 1200px) {
  .cards {
    justify-content: space-between;
  }
  .cards .birthday-card {
    width: calc(33.333333% - 10px);
    margin-right: 0;
    margin-left: 0;
  }
  .cards .birthday-card:nth-child(2n) {
    margin-left: 0;
  }
}
