@import './settings.less';
@import './resets.css';

.cards {
  width: 100%;
  font-family: @font-family;
  color: @font-color-primary;

  .birthday-card {
    width: 100%;
    background-color: fade(@color-primary, 20%);
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-bottom: 15px;

    &:nth-child(2n) {
      background-color: fade(@color-secondary, 20%);
    }

    &:nth-child(3n) {
      background-color: fade(@color-accent, 20%);
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }

    &__photo {
      height: 100px;
      width: 100px;
      min-width: 100px;
      border-radius: 50%;
      border: solid 4px @color-accent;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &__user-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;

      .user-info__name,
      .user-info__birthdate,
      .user-info__phone,
      .user-info__email {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .icon {
          display: block;
          height: 20px;
          width: 20px;
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: 5px;
        }
      }

      .user-info__name {
        margin-bottom: 5px;

        &--icon {
          background-image: url('../images/icon-person.svg');
        }
      }

      .user-info__birthdate {
        margin-bottom: 10px;

        &--icon {
          background-image: url('../images/icon-birthday.svg');
        }
      }

      .user-info__phone {
        margin-bottom: 10px;

        &--icon {
          background-image: url('../images/icon-phone.svg');
        }
      }

      .user-info__email {
        font-size: 12px;
        word-break: break-all;

        &--icon {
          background-image: url('../images/icon-email.svg');
        }
      }
    }

    &__controls {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 15px;
    }

    &__button {
      position: relative;
      height: 50px;
      width: 50px;
      text-transform: uppercase;
      font-weight: @font-weight-bold;
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      border: solid 2px @color-primary;
      margin-left: auto;
      margin-right: auto;
      transition: background-color 250ms;
      cursor: pointer;

      .button__content {
        position: absolute;
        color: @color-secondary;
        transition: color 250ms;
      }

      &--remove {
        background-color: fade(@color-warning, 50%);
        background-image: url('../images/icon-remove.svg');
        margin-right: 70px;

        &:active {
          background-color: fade(@color-warning, 80%);
          transition: background-color 250ms;

          .button__content {
            color: darken(@color-secondary, 15%);
            transition: color 250ms;
          }
        }

        .button__content {
          left: 55px;
          top: 0px;
        }
      }

      &--edit {
        background-color: fade(@color-success, 50%);
        background-image: url('../images/icon-edit.svg');
        margin-left: 70px;

        &:active {
          background-color: darken(@color-success, 5%);
          transition: background-color 250ms;

          .button__content {
            color: darken(@color-secondary, 15%);
            transition: color 250ms;
          }
        }

        .button__content {
          right: 55px;
          bottom: 0px;
        }
      }

      &:focus-within {
        outline: none;
        box-shadow: 0px 0px 10px 0px fade(@color-focus, 70%);
        transition: box-shadow 500ms;
      }
    }
  }
}

@media @breakpoint-medium {
  .cards {
    display: flex;
    flex-wrap: wrap;

    .birthday-card {
      width: calc(~'50% - 10px');
      margin-right: 10px;

      &:nth-child(2n) {
        margin-right: 0;
        margin-left: 10px;
      }

      &__controls {
        border-top: solid 3px fade(@color-secondary, 20%);
        padding-top: 15px;
      }
    }
  }
}

@media @breakpoint-large {
  .cards {
    .birthday-card {
      &__button {
        &--remove {
          &:hover {
            background-color: fade(@color-warning, 65%);
            transition: background-color 250ms;

            .button__content {
              color: darken(@color-secondary, 5%);
              transition: color 250ms;
            }
          }

          &:active {
            background-color: fade(@color-warning, 80%);
            transition: background-color 250ms;

            .button__content {
              color: darken(@color-secondary, 15%);
              transition: color 250ms;
            }
          }
        }

        &--edit {
          &:hover {
            background-color: fade(@color-success, 80%);
            transition: background-color 250ms;

            .button__content {
              color: darken(@color-secondary, 5%);
              transition: color 250ms;
            }
          }

          &:active {
            background-color: darken(@color-success, 5%);
            transition: background-color 250ms;

            .button__content {
              color: darken(@color-secondary, 15%);
              transition: color 250ms;
            }
          }
        }
      }
    }
  }
}

@media @breakpoint-extra-large {
  .cards {
    justify-content: space-between;

    .birthday-card {
      width: calc(~'33.333333% - 10px');
      margin-right: 0;
      margin-left: 0;

      &:nth-child(2n) {
        margin-left: 0;
      }
    }
  }
}