@import './settings.less';
@import './resets.css';

.calendar {
  width: 100%;
  font-family: @font-family;
  color: @font-color-primary;

  &__controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date-heading {
    font-size: 1.5em;
    font-weight: @font-weight-bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: background-color 250ms;

    &:active {
      background-color: fade(@color-accent, 50%);
      transition: background-color 250ms;
    }

    &:focus-within {
      outline: none;
      box-shadow: 0 0 0 0.1rem fade(@color-focus, 50%);
    }

    .navigation-button__icon {
      display: block;
      height: 20px;
      width: 20px;
      background-color: transparent;
      background-image: url('../images/icon-previous-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      padding-right: 3px;

      &--right {
        transform: rotate(180deg);
      }
    }
  }

  &__table {
    width: 100%;
    border-spacing: 0;
    background-color: fade(@color-accent, 10%);

    &-header {
      background: @color-primary;

      &-row {
        th {
          font-weight: @font-weight-bold;
          color: @font-color-secondary;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }

    &-body {
      tr {
        td {
          padding-top: 10px;
          padding-right: 5px;
          padding-bottom: 10px;
          padding-left: 5px;
        }
      }

      .birthday {
        background-color: @color-birthday;
        font-weight: @font-weight-bold;
        cursor: pointer;

        &:active {
          background-color: darken(@color-birthday, 15%);
          transition: background-color 250ms;
        }

        &:focus-within {
          outline: none;
          box-shadow: 0 0 0 0.1rem fade(@color-focus, 50%);
        }

        &__current {
          background-color: @color-current-birthday;
          color: @font-color-secondary;

          &:active {
            background-color: darken(@color-current-birthday, 15%);
          }
        }
      }
    }
  }

  &__show-form {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    &-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-weight: @font-weight-bold;
      color: @font-color-secondary;
      background-color: @color-primary;
      padding-top: 5px;
      padding-right: 15px;
      padding-bottom: 5px;
      padding-left: 15px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;

      &:active {
        background-color: darken(@color-primary, 15%);
        transition: background-color 250ms;
      }

      &:focus-within {
        outline: none;
        box-shadow: 0 0 0 0.1rem fade(@color-focus, 50%);
      }

      .show-form-button__icon {
        display: block;
        height: 40px;
        width: 40px;
        background-color: transparent;
        background-image: url('../images/icon-show-form.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__toggle-birthdays-range {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

    .toggle-birthdays-range__description {
      text-align: center;

      span {
        color: @color-secondary;
      }
    }

    .toggle-birthdays-range__button {
      position: relative;
      height: 50px;
      width: 50px;
      text-transform: uppercase;
      font-weight: @font-weight-bold;
      background-image: url('../images/icon-toggle.svg');
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      transition: background-color 250ms;
      cursor: pointer;

      .button__content {
        position: absolute;
        color: @color-secondary;
        transition: color 250ms;
      }

      &:active {
        background-color: fade(@color-primary, 80%);
        transition: background-color 250ms;

        .button__content {
          color: darken(@color-secondary, 15%);
          transition: color 250ms;
        }
      }

      .button__content {
        left: 55px;
        top: 16px;
      }

      &:focus-within {
        outline: none;
        box-shadow: 0 0 0 0.1rem fade(@color-focus, 50%);
      }
    }
  }
}

@media @breakpoint-small {
  .calendar {
    &__table {
      &-body {
        tr {
          td {
            padding-top: 10px;
            padding-right: 15px;
            padding-bottom: 10px;
            padding-left: 15px;
          }
        }
      }
    }

    &__toggle-birthdays-range {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .toggle-birthdays-range__description {
        margin-right: 30px;
      }

      .toggle-birthdays-range__button {
        margin-left: 0;
        margin-right: 0;

        .button__content {
          position: absolute;
          color: @color-secondary;
          transition: color 250ms;
        }

        &:active {
          background-color: fade(@color-primary, 80%);
          transition: background-color 250ms;

          .button__content {
            color: darken(@color-secondary, 15%);
            transition: color 250ms;
          }
        }

        .button__content {
          left: 55px;
          top: 16px;
        }

        &:focus-within {
          outline: none;
          box-shadow: 0 0 0 0.1rem fade(@color-focus, 50%);
        }
      }
    }
  }
}

@media @breakpoint-medium {
  .calendar {
    &__table {
      &-header {
        &-row {
          th {
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }
      }

      &-body {
        tr {
          td {
            padding-right: 30px;
            padding-left: 30px;
          }
        }
      }
    }

    &__show-form {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

@media @breakpoint-large {
  .calendar {
    &__navigation-button {
      &:hover {
        background-color: fade(@color-accent, 20%);
        transition: background-color 250ms;
      }

      &:active {
        background-color: fade(@color-accent, 50%);
        transition: background-color 250ms;
      }

      &:focus-within {
        outline: none;
        box-shadow: 0 0 0 0.1rem fade(@color-focus, 50%);
      }
    }

    &__table {
      &-body {
        tr {
          td {
            padding-top: 20px;
            padding-right: 40px;
            padding-bottom: 20px;
            padding-left: 40px;
            transition: background-color 250ms;

            &:hover {
              background-color: fade(@color-accent, 20%);
              transition: background-color 250ms;
            }
          }
        }

        .birthday {
          background-color: @color-birthday;
          font-weight: @font-weight-bold;
          cursor: pointer;

          &:hover {
            background-color: darken(@color-birthday, 10%);
          }

          &:active {
            background-color: darken(@color-birthday, 30%);
          }

          &:focus-within {
            outline: none;
            box-shadow: 0 0 0 0.1rem fade(@color-focus, 50%);
          }

          &__current {
            background-color: @color-current-birthday;
            color: @font-color-secondary;

            &:hover {
              background-color: darken(@color-current-birthday, 10%);
            }

            &:active {
              background-color: darken(@color-current-birthday, 20%);
            }
          }
        }
      }
    }

    &__show-form {
      margin-top: 45px;
      margin-bottom: 45px;

      &-button {
        transition: background-color 250ms;

        &:hover {
          background-color: darken(@color-primary, 10%);
          transition: background-color 250ms;
        }

        &:active {
          background-color: darken(@color-primary, 20%);
          transition: background-color 250ms;
        }

        &:focus-within {
          outline: none;
          box-shadow: 0 0 0 0.1rem fade(@color-focus, 50%);
        }
      }
    }

    &__toggle-birthdays-range {
      .toggle-birthdays-range__button {
        &:hover {
          background-color: fade(@color-primary, 30%);
          transition: background-color 250ms;

          .button__content {
            color: darken(@color-secondary, 5%);
            transition: color 250ms;
          }
        }

        &:active {
          background-color: fade(@color-primary, 80%);
          transition: background-color 250ms;

          .button__content {
            color: darken(@color-secondary, 15%);
            transition: color 250ms;
          }
        }
      }
    }
  }
}