.calendar__controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.birthday-color {
  background-color: lightblue;
  color: #333333;
}
.current-birthday-color {
  background-color: lightcoral;
  color: #333333;
}
