.user-data-form {
  display: flex;
  flex-direction: column;

  &__name,
  &__picture,
  &__birthdate,
  &__email,
  &__phone {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}