@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@bp-small: 576px;
@bp-medium: 768px;
@bp-large: 992px;
@bp-extra-large: 1200px;

@breakpoint-small: ~"(min-width: 576px)";
@breakpoint-medium: ~"(min-width: 768px)";
@breakpoint-large: ~"(min-width: 992px)";
@breakpoint-extra-large: ~"(min-width: 1200px)";

@font-family: 'Roboto', sans-serif;
@font-weight-regular: 400;
@font-weight-bold: 700;
@font-color-primary: #3a3a3a;
@font-color-secondary: #FFFFFF;

@color-primary: #00BCD4;
@color-secondary: #0097A7;
@color-accent: #80DEEA;
@color-focus: #006064;
@color-birthday: #80DEEA;
@color-current-birthday: #FF4081;
@color-warning: #D50000;
@color-success: #00E676;