@import 'forms.css';
@import 'calendar.css';
@import 'birthday-card.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
  margin: 0;
  padding: 0;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .main-container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 992px;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 1200px;
  }
}
